[submodule "3.Firmware/pico-sdk"]
	path = 3.Firmware/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "2.Software/lv_port_pc_vscode"]
	path = 2.Software/lv_port_pc_vscode
	url = git@github.com:lvgl/lv_port_pc_vscode.git
